<h1>SciMed Solutions Looking for Developer</h1>

<p>At SciMed Solutions, based in Durham, NC, we are passionate about much more
  than exchanging and growing Ruby knowledge. SciMed's mission is to craft
  software that frees our clients to do what they do best: advance cutting-edge
  technology, improve lives, and effect social change. Our focus is to help the
  medical, scientific, and academic communities achieve success by removing
  obstacles and allowing them the freedom to streamline operations and
  concentrate on their work.
</p>

<p>We are looking for someone equally passionate as well as self-motivated,
  disciplined, driven, a decision-maker, and a team player. We want developers
  who are not solely driven by personal success, but are invested in the succes
  of the team.
</p>

<p>Although this position is for a Ruby on Rails developer, Ruby experience is
  not required. If you have a 4 year degree, are a talented coder, can work
  quickly, and work across multiple technologies and projects, we'll train you
  on Ruby. We'll start your training with Rubeque. Solve a few problems and let
  us see how you do.
</p>

<p>Experience or understanding of Agile development, experience in coding
  technologies such as PHP, Python, Perl, .NET, JSP, XML, JavaScript, or AJAX
  are a plus. The best applicants will bring valuable skills beyond computer
  science and software engineering.
</p>

<p>We strive to find the best fit for every employee and value personal growth.
  If you are interested in working in Durham, NC, in an environment of
  accuracy, teamwork, openness, respect, and would like to limit your work week
  to 40 hours, apply today. Send your resume and cover letter to
  <%= link_to "employment@scimedsolutions.com", "mailto:employment@scimedsolutions.com" %>.
</p>


